In [1]:
import pandas as pd

In [2]:
bam=pd.read_csv(r"C:\Users\pilwook\Desktop\ssibal")

OSError: Initializing from file failed

In [3]:
bam.head()

              time pm25
0  2019-09-11 0:00   24
1  2019-09-11 1:00   20
2  2019-09-11 2:00   15
3  2019-09-11 3:00    8
4  2019-09-11 4:00    2

In [4]:
bam['time'] =pd.to_datetime(bam['time'])

In [5]:
dmu =pd.read_csv(r"C:\Users\pilwook\Desktop\ds\dmu3_1hour (1).csv")

In [7]:
dmu.head()

                  time         AI       PM10        RAW         RH       TEMP
0  2019-09-11 00:00:00  19.511447  29.199357  27.247588  64.719035  25.699871
1  2019-09-11 01:00:00  20.756399  31.112540  29.093248  66.400643  26.134212
2  2019-09-11 02:00:00  12.601929  13.694534  12.816720  69.787395  26.941768
3  2019-09-11 03:00:00  13.165192  14.217949  13.496795  68.305865  27.279263
4  2019-09-11 04:00:00   9.256178   6.945860   6.509554  67.774172  27.416879

In [8]:
dmu['time'] =pd.to_datetime(dmu['time'])

In [9]:
dmu.head()

                 time         AI       PM10        RAW         RH       TEMP
0 2019-09-11 00:00:00  19.511447  29.199357  27.247588  64.719035  25.699871
1 2019-09-11 01:00:00  20.756399  31.112540  29.093248  66.400643  26.134212
2 2019-09-11 02:00:00  12.601929  13.694534  12.816720  69.787395  26.941768
3 2019-09-11 03:00:00  13.165192  14.217949  13.496795  68.305865  27.279263
4 2019-09-11 04:00:00   9.256178   6.945860   6.509554  67.774172  27.416879

In [10]:
import datetime

In [11]:
dmu.time =dmu.time + datetime.timedelta(hours=1)

In [14]:
dmu.head(30)

                  time         AI       PM10        RAW         RH       TEMP
0  2019-09-11 01:00:00  19.511447  29.199357  27.247588  64.719035  25.699871
1  2019-09-11 02:00:00  20.756399  31.112540  29.093248  66.400643  26.134212
2  2019-09-11 03:00:00  12.601929  13.694534  12.816720  69.787395  26.941768
3  2019-09-11 04:00:00  13.165192  14.217949  13.496795  68.305865  27.279263
4  2019-09-11 05:00:00   9.256178   6.945860   6.509554  67.774172  27.416879
5  2019-09-11 06:00:00   8.101442   4.842949   4.573718  66.823782  27.578365
6  2019-09-11 07:00:00   4.901815   1.305732   1.140127  64.920573  27.543248
7  2019-09-11 08:00:00   4.013291   0.431310   0.297125  62.553482  27.479042
8  2019-09-11 09:00:00   3.974263   0.823718   0.628205  58.992660  27.695705
9  2019-09-11 10:00:00   4.166955   1.166667   0.977564  56.919776  28.049199
10 2019-09-11 11:00:00   3.451759   0.694444   0.398148  53.415556  28.445926
11 2019-09-11 12:00:00   3.300563   0.295775   0.197183  60.811690  25.315634
12 2019-09-11 13:00:00   3.478350   0.640777   0.368932  45.791359  33.713592
13 2019-09-11 14:00:00   3.715627   1.064309   0.729904  37.556752  36.690193
14 2019-09-11 15:00:00   3.702122   1.501608   1.308682  43.237460  34.042315
15 2019-09-11 16:00:00   3.975323   2.035484   1.693548  42.370194  34.554258
16 2019-09-11 17:00:00   3.457910   1.176849   0.932476  41.411158  34.732058
17 2019-09-11 18:00:00   3.005820   0.681672   0.424437  43.341576  33.789678
18 2019-09-11 19:00:00   3.398372   0.245847   0.149502  52.514718  29.863322
19 2019-09-11 20:00:00   3.360358   0.250814   0.097720  55.113779  28.395928
20 2019-09-11 21:00:00   3.290607   0.108626   0.031949  56.515367  27.490256
21 2019-09-11 22:00:00   3.243227   0.169329   0.019169  57.318211  26.801470
22 2019-09-11 23:00:00   3.244791   0.221865   0.093248  56.906141  26.725016
23 2019-09-12 00:00:00   3.295705   0.301282   0.176282  57.462917  26.300609
24 2019-09-12 01:00:00   3.454824   0.520767   0.392971  57.798722  26.184569
25 2019-09-12 02:00:00   4.007885   1.307692   1.096154  59.177692  25.781506
26 2019-09-12 03:00:00   4.546891   2.012821   1.762821  59.409840  25.624808
27 2019-09-12 04:00:00   4.488275   2.047923   1.750799  59.782013  25.483131
28 2019-09-12 05:00:00   4.341765   2.032680   1.709150  60.036275  25.260000
29 2019-09-12 06:00:00   4.588617   2.273312   2.006431  60.217814  25.209132

In [26]:

total = pd.concat([dmu,bam] ,keys ='time' ,join='outer')

c:\program files (x86)\microsoft visual studio\shared\python37_64\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [43]:
total=pd.merge(dmu,bam,on='time',how='outer')

In [44]:
total.shape

(5098, 7)

In [45]:
bam.shape

(5062, 2)

In [46]:
dmu.shape

(4395, 6)

In [51]:
total.to_csv(r"C:\Users\pilwook\Desktop\ds\total_0609.csv")

In [17]:
total.head()

            AI       PM10        RAW         RH       TEMP pm25  \
t 0  19.511447  29.199357  27.247588  64.719035  25.699871  NaN
  1  20.756399  31.112540  29.093248  66.400643  26.134212  NaN
  2  12.601929  13.694534  12.816720  69.787395  26.941768  NaN
  3  13.165192  14.217949  13.496795  68.305865  27.279263  NaN
  4   9.256178   6.945860   6.509554  67.774172  27.416879  NaN

                   time
t 0 2019-09-11 01:00:00
  1 2019-09-11 02:00:00
  2 2019-09-11 03:00:00
  3 2019-09-11 04:00:00
  4 2019-09-11 05:00:00